<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/CSS/style.css">
    <script defer src="/socket.io/socket.io.js"></script>
    <script defer src="../static/JavaScript/client.js"></script>
    <!-- Code to Prevent Address-Bar hiding in mobile Browsers -->
    <style type="text/css">
        html, body {margin: 0; height: 100%; overflow: hidden}
    </style>
    <title>iChat App</title>
</head>

<body onbeforeunload="return myFunction()">
    <div class="chatApp">
        <div class="header">
            <div id="logo"><img src="../src/logo.svg" alt="logo" width="48" height="48"></div>
            <div id="heading">iChat App</div>
        </div>
        <div class="container"></div>
        <div class="send">
            <form id="send-container">
                <input type="text" name="messageInp" id="messageInp" placeholder="Type a message" required>
                <input type="image" src="../src/send.svg" alt="Submit" width="48" height="48">
            </form>
        </div>
    </div>
</body>
<script>
    function myFunction() {
        return "Write something clever here...";
    }
</script>
</html>