@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

*{
    padding: 0%;
    margin: 0%;
    font-family: 'Roboto', sans-serif;
}

.chatApp{
    background-color: rgb(211, 218, 198);
    max-width: 55vw;
    margin: 1% auto;
    border-radius: 15px;
}

.header{
    display: flex;
    text-align: left;
    align-items: center;
    margin: auto;
    padding: 1%;  
    background-color: #075E54;
    color: white;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

#heading{
    font-size: 150%;
    padding: 0% 1%;
}

.container{
    height: 77vh;
    overflow-y: auto;
    padding-top: 1%;
}

.message{
    padding: 1%;
    margin: 0.5% 2%;
    border-radius: 5px;
    font-size: 114%;
}

.left{
    background-color: whitesmoke;
    float: left;
    clear:both;
}

.right{
    background-color: #DCF8C6;
    float: right;
    clear:both;
}

.centre{
    padding: 0.5%;
    margin: 0.5% 35%;
    border-radius: 5px;
    font-size: 95%;
    background-color: #bdddeb;
    text-align: center;
    text-transform: uppercase;
    clear: both;
    color: rgba(0, 0, 0, 0.733);
}

#send-container{
    display: flex;
    align-items: center;
    padding-top: 0.8%;
    padding-bottom: 0.8%;
}

#messageInp{
    border: none;
    border-radius: 100px;
    outline: none;
    font-size: 114%;
    height: 44px;
    width: 88%;
    padding: 0px 16px;
    margin: 1%;
}

@media only screen and (max-width:700px){
    .chatApp{
        background-color: rgb(211, 218, 198);
        max-width: 100%;
        height: 100vh;
        margin: 0%;
        box-shadow: none;
        border-radius: 0;
    }

    .centre{
        margin: 0.5% 21%;
    }

    .header{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #send-container{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}

@media only screen and (min-width:700px) and (max-width:1200px){
    .chatApp{
        background-color: rgb(211, 218, 198);
        max-width: 100%;
        height: 100vh;
        margin: 0%;
        box-shadow: none;
        border-radius: 0;
    }

    .centre{
        margin: 0.5% 35%;
    }

    .header{
        border-top-left-radius: 0;
        border-top-right-radius: 0;
    }

    #send-container{
        position: absolute;
        bottom: 0;
        width: 100%;
    }
}